{% render 'partials/head.liquid' %}

<header class="mobileHeader">
  <a class="terugKnop" href="/nieuws"><-- terug</a>
  <h1>nieuws</h1>
</header>

<main> 
    <article class="artikel">
    <h1>
        titel artikel
    </h1>
    <img src="assets/imgs/placeholder.png" height="" alt="placeholder plant">
    <p>
        text over de bloem text over de bloem text over de bloem text over de bloem text over de bloem
        text over de bloem text over de bloem text over de bloem text over de bloem text over de bloem
    </p>
    </article>
</main>


{% render 'partials/foot.liquid' %}