{% render 'partials/head.liquid' %}

<header class="mobileHeader">
  <h1>home</h1>
</header>

<main>
  <h2>Welkom Gebruiker</h2>
  <section>
  <h3>Bloemenveld collectie</h3>

  <section class="collectionInfoHome">
    <article>
      <p>
        je hebt nog niks gespaard start de veldverkenner om meer te weten te komen over wat er groeit en je collectie
        aan te vullen
      </p>
    </article>
  </section>
  </section>

  <section>
  <h3>Veld Nieuws</h3>
  <section class="articleCollection home">

  <section class="articlePreview home">
    <article>
    <h4>
        na de bloei van de duizendblad
    </h4>
      <img src="assets/imgs/placeholder.png" height="100px" alt="placeholder plant">
      <p>de duizendblad is nog maar even in de bloei</p>
    </article>
  </section>

    <section class="articlePreview home">
    <article>
    <h4>
        na de bloei van de duizendblad
    </h4>
      <img src="assets/imgs/placeholder.png" height="100px" alt="placeholder plant">
      <p>de duizendblad is nog maar even in de bloei</p>
    </article>
  </section>

      <section class="articlePreview home">
    <article>
    <h4>
        na de bloei van de duizendblad
    </h4>
      <img src="assets/imgs/placeholder.png" height="100px" alt="placeholder plant">
      <p>de duizendblad is nog maar even in de bloei</p>
    </article>
  </section>

</section>
</section>

</main>

<section class="nav">
  <ul class="nav">
    <li class="nav"><a href="/">home</li>
    <li class="nav"><a href="/veldverkenner">veldverkenner</a></li>
    <li class="nav"><a href="/nieuws">nieuws</a></li>
    <li class="nav"><a href="/collectie">collectie</a></li>
  </ul>
</section>

{% render 'partials/foot.liquid' %}