{% render 'partials/head.liquid' %}

<header class="mobileHeader">
<h1>Nieuws</h1>
    <ul class="filterHeader">
    <li><a class="filterButton" href="/laatste">laatste</a></li>
    <li><a class="filterButton" href="/inbloei">in de bloei</a></li>
    <li><a class="filterButton" href="/nabloei">na de bloei</a></li>
  </ul>
</header>

<main>

<section class="articleList">
  <section class="articlePreview-nieuws">
    <article>
      <img src="https://fdnd-agency.directus.app/assets/{{ news.image }}" height="" alt="placeholder plant">    
    </article>
      <h4>
        na de bloei van de duizendblad
      </h4>
  </section>
</section>

</main>

<section class="nav">
  <ul class="nav">
    <li class="nav"><a href="/">home</li>
    <li class="nav"><a href="/veldverkenner">veldverkenner</a></li>
    <li class="nav"><a href="/nieuws">nieuws</a></li>
    <li class="nav"><a href="/collectie">collectie</a></li>
  </ul>
</section>

{% render 'partials/foot.liquid' %}