{% render 'partials/head.liquid' %}

<header class="mobileHeader">
<h1>Nieuws</h1>
    <ul class="filterHeader">
    <li><a class="filterButton" href="/laatste">laatste</a></li>
    <li><a class="filterButton" href="/inbloei">in de bloei</a></li>
    <li><a class="filterButton" href="/nabloei">na de bloei</a></li>
  </ul>
</header>

<main>
{% comment %} {% for ... in ... %} {% endcomment %}

<section class="articleList">
  <section class="articlePreview nieuws">
    <article>
      <img src="assets/imgs/placeholder.png" alt="placeholder plant">
    </article>
      <h4>
        na de bloei van de duizendblad
      </h4>
  </section>
{% comment %} {% endfor %} {% endcomment %}

  <section class="articlePreview nieuws">
    <article>
      <img src="assets/imgs/placeholder.png" alt="placeholder plant">
    </article>
      <h4>
        na de bloei van de duizendblad
      </h4>
  </section>

  <a href="/artikel">
  <section class="articlePreview nieuws">
    <article>
      <img src="assets/imgs/placeholder.png" alt="placeholder plant">
    </article>
      <h4>
        na de bloei van de duizendblad
      </h4>
  </section>
  </a>


</main>

<section class="nav">
  <ul class="nav">
    <li class="nav"><a href="/">🏠</a></li>
    <li class="nav"><a href="/veldverkenner">🗺️</a></li>
    <li class="nav"><a href="/nieuws">📰</a></li>
    <li class="nav"><a href="/collectie">🌸</a></li>
  </ul>
</section>

{% render 'partials/foot.liquid' %}